name: dagger
on:
  push:
    branches: [main]
# env:
  # DOCKER_TLS_VERIFY: 1
  # DOCKER_HOST: tcp://localhost:2375

jobs:
  hello:
    name: hello
    runs-on: ubuntu-latest

    container:
      # image: ghcr.io/pinghe/podman:main
      image: docker.gitea.com/runner-images:ubuntu-latest
      # image: toolbelt/podman
      # options: --security-opt seccomp=unconfined 
    steps:
      - name: Print environment
        run: |
          uname -a
          env
          echo "podman: $(which podman)"
          # podman --version
          echo "docker: $(which docker)"
          docker ps
          # docker --version
          # # # service  -l
          # # cat /etc/containers/storage.conf
          # # cat /etc/subuid
          # whoami
          # # cat /etc/subgid
          # podman info --debug | grep -i rootless
          # # loginctl enable-linger $USER
          # # cat /etc/subuid | grep $USER   # 应有类似 $USER:100000:65536 的条目
          # # cat /etc/subgid | grep $USER
      - name: Install Dagger(Call)
        uses: dagger/dagger-for-github@8.0.0
        with:
          version: "latest"
      - name: Chain in dagger shell
        run: |
          container | from m.daocloud.io/docker.io/library/alpine | file /etc/os-release | contents
        shell: dagger {0}
